version: '3.8'

services:
  app:
    image: maxbussinesssolutions/myreactapp:latest
    container_name: myapp-container
    ports:
      - "8081:80"

  nginx:
    image: nginx:alpine
    container_name: nginx-container
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./letsencrypt:/etc/letsencrypt:ro
