version: '3.8'

services:
  app:
    image: maxbussinesssolutions/myreactapp:latest
    container_name: myapp-container
    ports:
      - "3000:443"
      - "3000:80"
    volumes:
      - /etc/letsencrypt/live/maxitsolutions.in/fullchain.pem:/etc/letsencrypt/live/maxitsolutions.in/fullchain.pem:ro
      - /etc/letsencrypt/live/maxitsolutions.in/privkey.pem:/etc/letsencrypt/live/maxitsolutions.in/privkey.pem:ro

