version: '3.8'

services:
  vite-react-app:
    image: maxbussinesssolutions/myreactapp:latest
    container_name: vite-react-app
    expose:
      - "3000"
    environment:
      - NODE_ENV=production

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8081:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - vite-react-app
