version: '3.8'

services:
  app:
    image: maxbussinesssolutions/myreactapp:latest
    container_name: myapp-container
    ports:
      - "8081:80"

  nginx:
    image: nginx:alpine
    container_name: nginx-container
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt/live/maxitsolutions.in/fullchain.pem:/etc/letsencrypt/live/maxitsolutions.in/fullchain.pem:ro
      - /etc/letsencrypt/live/maxitsolutions.in/privkey.pem:/etc/letsencrypt/live/maxitsolutions.in/privkey.pem:ro
      - /home/maxitsolutions/htdocs/maxitsolutions.in/nginx.conf:/etc/nginx/nginx.conf:ro
