name: Deploy to Hostinger

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Deploy to Hostinger
        uses: maxcdowell/docker-deploy@v1
        with:
          server: srv688052.hstgr.cloud
          username: maxbussinesssolutions@gmail.com
          password: Hostinger@0607
          domain: maxitsolutions.in
          folder: build
