name: Deploy to Hostinger

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Upload files to Hostinger
        uses: mradilla/hostinger-deploy@v1
        with:
          domain: maxitsolutions.in
          source-path: dist
          host: 147.93.31.81
          port: 3000
          username: maxbussinesssolutions@gmail.com
          password: Hostinger@0607
