name: Deploy to Hostinger

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo $DOCKER_USERNAME | docker login -u $(cat -) -p $(echo $DOCKER_PASSWORD )
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: maxbussinesssolutions/myreactapp:latest
      - name: Copy docker-compose.yml to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOSTINGER_HOST }}
          username: ${{ secrets.HOSTINGER_USER }}
          password: Hostinger@0607
          source: ./docker-compose.yml
          target: /home/user/myreactapp/

      - name: SSH into Hostinger and deploy
        env:
          HOSTINGER_USER: ${{ secrets.HOSTINGER_USER_BASE64 }}
          HOSTINGER_PASSWORD: ${{ secrets.HOSTINGER_PASSWORD_BASE64 }}
        uses: appleboy/ssh-action@master
        with:
          domain: maxitsolutions.in
          host: srv688052.hstgr.cloud
          port: 22
          username: root
          password: Hostinger@0607
          script: |
            echo "Starting deployment..."
            cd /home/user/my-react-app/ || exit
            docker-compose down || echo "Failed to stop existing containers"
            docker-compose pull || echo "Failed to pull latest images"
            docker-compose up -d || echo "Failed to start containers"
            echo "Deployment finished."
